/* ==========================================================================
   FONT FAMILIES GOOGLE IMPORT LINKS
   ========================================================================== */

/*Montserrat*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*Lato*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ==========================================================================
   CSS VARIABLES & RESET
   ========================================================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*ROOT FORMATTING*/
:root {
  --header-font: "Montserrat", sans-serif;
  --body-font: "Lato", sans-serif;
  --primary-color: #fff;
  --secondary-color: #2c2c2c;
  --accent-color: #4356ff;
}

/*Create container class*/
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

/*Format main background*/
main {
  background-color: #f9fbfd;
}
/* ==========================================================================
   INDEX PAGE FORMATTING
   ========================================================================== */

/*Format site header*/
.site-header {
  text-align: center;
  padding: 15px 0;
  margin-bottom: 50px;
}

/*Format site header h1 tag*/
.site-header h1 {
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 2px;
  margin: 20px 0;
}

/*Format site header sub text*/
.site-header p {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

/*Format section padding*/
section {
  padding: 20px 0;
}

/*Format section h2 tags*/
section h2 {
  font-family: var(--header-font);
  font-weight: 700;
  margin-bottom: 15px;
}

/*Format hr rule*/
hr {
  width: 680px;
  margin: 0 auto;
  border: none;
  background-color: lightgray;
  height: 2px;
  border-radius: 100px;
  margin-bottom: 25px;
}

/*Format text container*/
.text-container {
  width: 700px;
}

/*Format text-container text*/
.text-container p {
  font-family: var(--body-font);
  font-weight: 500;
  letter-spacing: 1.1px;
  line-height: 2;
  margin-bottom: 15px;
}

/*Format text-container links*/
.text-container a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s ease;
}

/*Create link hover class*/
.text-container a:hover {
  color: #5f6eff;
}

/*Create visited link class*/
.text-container a:visited {
  color: chocolate;
}

/*Format text-container list*/
.text-container ul {
  list-style-position: inside;
}

/*Format list items*/
.text-container ul li {
  margin-bottom: 10px;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* Mobile devices */
@media screen and (max-width: 480px) {
  /* Mobile styles */

  /*Container width*/
  .container {
    max-width: 540px;
  }
}

/* Tablets */
@media screen and (max-width: 768px) {
  /* Tablet styles */

  /*Container width*/
  .container {
    max-width: 720px;
  }
}

/* Laptops */
@media screen and (max-width: 1024px) {
  /* Laptop styles */

  /*Container width*/
  .container {
    max-width: 960px;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  /* Desktop styles */

  /*Container width*/
  .container {
    max-width: 1140px;
  }
}
